extends layout
block content
  H1 GARES
  form(class="form" method="post" action="/gares/" id="addGare")
    div(class="form-group")
      label(for="name") Nom:
      input(type="text", name="name", placeholder="Gare de lyon")
    div(class="form-group")
      label(for="siret") Numero de Siret:
      textarea(class="form-control" type="text", name="siret", placeholder="Siret")
    div(class="form-group")
      input(class="submit" type="submit", value="Send")
  each gare in gares
    p #{gare.nom}
    input(class="delete" type="submit" value="delete" data-id="#{gare._id}")
